.banner {
  position: relative;
  margin-top: 32px;
  background: linear-gradient( 92deg, #A6FF4C 0%, #41D96B 70%, #50FE82 100%);
  border-radius: 16px 16px 16px 16px;
  overflow: visible;
  height: 72px;
  box-sizing: border-box;
}