.container {
  --mask-left-width: 633px;
  --mask-left-height: 560px;
  --mask-left-left: -358px;
  --mask-left-top: -284px;
  --mask-right-width: 312px;
  --mask-right-height: 251px;
  --mask-right-right: -116px;
  --mask-right-top: -129px;
  --bg-end-color-position: 100%;

  position: absolute;
  box-sizing: border-box;
  width: 100vw;
  height: 100vh;
  overflow: hidden;

  &::-webkit-scrollbar {
    display: none;
  }

  &.is-bg {
    background-image: linear-gradient(180deg, #E0F9E7 0%, #FFFFFF var(--bg-end-color-position));
  }

  &.is-safe-bottom {
    padding-bottom: constant(safe-area-inset-bottom);
    padding-bottom: env(safe-area-inset-bottom);
  }

  .container-mask-left {
    position: absolute;
    background: #75F99B;
    top: var(--mask-left-top);
    left: var(--mask-left-left);
    width: var(--mask-left-width);
    height: var(--mask-left-height);
    filter: blur(40px);
    opacity: .4;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
  }

  .container-mask-right {
    position: absolute;
    background: #C0F500;
    top: var(--mask-right-top);
    right: var(--mask-right-right);
    width: var(--mask-right-width);
    height: var(--mask-right-height);
    filter: blur(160px);
    opacity: .7;
    border-radius: 50%;
    -webkit-transform: translateZ(0);
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
  }

  .nut-navbar {
    
    .nut-navbar__left {
      position: relative;
      height: 100%;
      padding: 0;
    }
  }

  .container-content {
    position: relative;
    box-sizing: border-box;
    height: 100%;

    --extra-top-fixed-height: 0px;

    &.is-tabbar-page {
      height: calc(100% - var(--extra-top-fixed-height));
      padding-bottom: 16px;
    }

    &::-webkit-scrollbar {
      display: none;
    }

    scroll-view::-webkit-scrollbar {
      display: none;
    }
  }
}