.elevator-container {
  position: relative;
  height: 100%;
  overflow-anchor: auto;
  overflow-y: scroll;

  .elevator-item__title {
    position: sticky;
    top: 0;
    background-color: #F7F7F7;
    padding-left: 16px;
    color: #666;
    font-size: 12px;
    line-height: 28px;
  }

  .elevator-item__content-item {
    background-color: #fff;
    padding-left: 12px;
    line-height: 40px;
    color: #0D0F02;
    font-size: 14px;
  }

  .elevator-item__content-item + .elevator-item__content-item {
    border-top: 1px solid #E6E6E6;
  }
}

.elevator-bar {
  position: fixed;
  top: 50%;
  right: 16px;
  color: #39B25B;
  font-size: 12px;
  transform: translateY(-50%);
  
  .elevator-bar__item + .elevator-bar__item {
    margin-top: 8px;
  }
}