.menu-bar {
  padding-left: 16px;
  padding-right: 16px;
  height: 42px;
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
  justify-content: space-evenly;

  .menu-item {
    display: flex;
    align-items: center;
    padding: 2px 16px;
  
    .menu-item__title {
      color: #666;
      white-space: nowrap;
      transition: all .2s;

      &.has-value {
        color: #0D0F02;
        font-weight: bold;
      }
    }

    .menu-item__icon {
      width: 6px;
      height: 3px;
      margin-left: 6px;
      transition: transform .2s;
    }

    &.is-active {
      
      .menu-item__title {
        color: #0D0F02;
        font-weight: bold;
      }

      .menu-item__icon {
        transform: rotateX(180deg);
      }
    }
  }
}

.menu-item-popup {
  position: absolute;
  top: 42px;
  left: 0;
  right: 0;
  z-index: 2000;
  overflow: hidden;
  height: 100vh;

  .menu-item-option {
    color: #808080;
    text-align: center;
    padding: 2px 16px;
    border-radius: 4px;
    transition: all .2s;
    border: 1px solid #808080;

    &.is-active {
      color: #0D0F02;
      background-color: #51FE81;
      border-color: #51FE81;
    }
  }
  
  .nut-calendarcard {
    background-color: transparent;
    padding: 0 16px;

    .nut-calendarcard-header {
      .nut-calendarcard-header-left, .nut-calendarcard-header-right {
        margin: 12px 16px;
      }
    }
    
    .nut-calendarcard-day {
      color: #666;

      &.disabled {
        color: #d1d0d0;
      }

      &.header {
        color: #999;
        font-size: 12px;
      }

      &.active, &.start, &.end {
        color: #0D0F02;
        font-weight: bold;
      }
    }
  }
}