.live-list {
  position: relative;
  height: calc(100% - var(--nut-tabbar-height));
  box-sizing: border-box;
  padding: 16px;
  overflow-y: scroll;
  background-color: #F7F7F7;

  &::-webkit-scrollbar {
    display: none;
  }
}